body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .sg-main-footer {
    @extend .no-padding-top;
    background: $background1;
    .container {
      color: $text2;
    }
  }
}

main {
  flex: 1 0 auto;
}